@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import 'bootstrap.css';
body, html {
    height: 100%;
    width: 100%;
    background-color: #c0b283 ;
}
body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900px;
}
h1 {
    color: #f8f8f8;
}
.form-format {
    max-width:500px;
    color: #cc33ff;
    text-align: center;
    margin: auto;
    width: 50%;
    height: 50%;
}
.label-format {
    text-align: left;
}
input {
    max-width: 50%
}
.my-bg-img {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    height: 100%;
}
footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}
.table-center {
    text-align: left;
    color: #cc33ff;
    padding-left: 50px;
    padding-right: 50px;
}
th {
    font-size: 24px;
    font-weight: 900px;
}
p, h2 {
    color: #b82601;
}
body {
    color: #cc33ff;
}
.body-extend{
    height: 100%;
    /*min-height: 100vh;*/
}

