@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import 'bootstrap.css';
body, html {
    height: 100%;
    width: 100%;
    color: #47afaf;
    background-color: #e9e9e9 ;   /*c0b283 */
}
body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900px;
}
h1 {
    color: #282827;/*f8f8f8*/
}
.form-format {
    vertical-align: middle;
    max-width:500px;
    text-align: center;
    margin: auto;
    width: 50%;
    height: 50%;
}
.label-format {
    text-align: left;
    width: 70%;
}
.my-bg-img {
    display: table;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    height: 100%;
    width: 100%
}
footer {
    padding-bottom: 50px ;
    background-color: #f8f8f8;
}
.table-center {
    text-align: left;
    max-width: 70%;
    margin: 0 auto;

}
th {
    font-size: 24px;
    font-weight: 900px;
}
.body-extend{
    height: 71.5%;
}
div {
    margin: 0 auto;
}

